In [2]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
from sqlalchemy import text
import getpass
password = getpass.getpass()

In [3]:
import mysql.connector

In [ ]:
# 1. Establecer una conexión entre Python y la base de datos Sakila.

conn = mysql.connector.connect(host='localhost',
                        user='root',
                        passwd=password,
                        database = 'sakila')

In [7]:
bd = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

2. Escribe una función en Python rentals_month que recupere datos de alquiler para un mes y año determinados (pasados ​​como parámetros) de la base de datos Sakila como un DataFrame de Pandas. La función debe recibir tres parámetros:

engine: un objeto que representa el motor de conexión de base de datos que se utilizará para establecer una conexión con la base de datos Sakila.
month: un número entero que representa el mes para el cual se recuperarán los datos de alquiler.
year: un número entero que representa el año para el cual se recuperarán los datos de alquiler.
La función debe ejecutar una consulta SQL para recuperar los datos de alquiler del mes y año especificados de la tabla de alquileres en la base de datos Sakila, y devolverlos como un DataFrame de pandas.

In [11]:
def rentals_month(engine, month: int, year: int) -> pd.DataFrame:
   
    # Consulta SQL con filtros de MES y AÑO
    # Utilizamos la función DATE_FORMAT de MySQL para filtrar con precisión
    sql_query = f"""
    SELECT
        rental_id,
        rental_date,
        inventory_id,
        customer_id
    FROM
        rental
    WHERE
        YEAR(rental_date) = {year}
        AND MONTH(rental_date) = {month};
    """
    
    try:
        # Usamos pd.read_sql() para ejecutar la consulta y cargar el resultado directamente
        # en un DataFrame de Pandas utilizando el objeto engine.
        df_rentals = pd.read_sql(sql_query, engine)
        
        # Opcional: Mostrar información sobre el resultado
        print(f"Total de registros recuperados para {month}/{year}: {len(df_rentals)}")
        
        return df_rentals

    except Exception as e:
        print(f"Error al ejecutar la consulta SQL: {e}")
        return pd.DataFrame() # Devuelve un DataFrame vacío en caso de error

In [14]:
# Ejemplo de prueba
df_junio_2005 = rentals_month(engine, month=6, year=2005)
print(df_junio_2005.head())

Total de registros recuperados para 6/2005: 2311
   rental_id         rental_date  inventory_id  customer_id
0       1158 2005-06-14 22:53:33          1632          416
1       1159 2005-06-14 22:55:13          4395          516
2       1160 2005-06-14 23:00:34          2795          239
3       1161 2005-06-14 23:07:08          1690          285
4       1162 2005-06-14 23:09:38           987          310

3. Desarrolle una función de Python llamada ` rental_count_month` que tome como entrada el DataFrame proporcionado por rentals_month`customer_id` junto con el mes y el año, y devuelva un nuevo DataFrame que contenga el número de alquileres realizados por cada `customer_id` durante el mes y año seleccionados.

La función también debe incluir el mes y el año como parámetros y utilizarlos para nombrar la nueva columna de acuerdo con el mes y el año, por ejemplo, si el mes de entrada es 05 y el año es 2005, el nombre de la columna debe ser "rentals_05_2005".

Sugerencia: Considere usar la función groupby() de pandas.

In [ ]:
def rental_count_month(df_rentals: pd.DataFrame, month: int, year: int) -> pd.DataFrame:

    # 1. Definir el nombre de la nueva columna de conteo
    # zfill(2) asegura dos dígitos en mes
    month_str = str(month).zfill(2)
    year_str = str(year)
    new_column_name = f"rentals_{month_str}_{year_str}"
    print(f"✅ Calculando el recuento de alquileres. La nueva columna se llamará: {new_column_name}")

    df_counts = df_rentals.groupby('customer_id')['rental_id'].count().reset_index()
    
    # 3. Renombrar la columna de conteo
    # La columna 'rental_id' (que contiene los conteos) se renombra al formato deseado.
    df_counts = df_counts.rename(columns={'rental_id': new_column_name})
    
    return df_counts

4. Crea una función en Python compare_rentals que reciba como entrada dos DataFrames con el número de alquileres realizados por cada cliente en diferentes meses y años. La función deberá devolver un DataFrame combinado con una nueva columna llamada 'difference', que representará la diferencia entre el número de alquileres en los dos meses.

In [17]:
def compare_rentals(df1: pd.DataFrame, df2: pd.DataFrame) -> pd.DataFrame:
 
    # Identificar las columnas de conteo de cada DataFrame (excluyendo 'customer_id')
    # Esto asume que los DataFrames solo tienen 'customer_id' y una columna de conteo
    column_df1 = df1.columns.difference(['customer_id'])[0]
    column_df2 = df2.columns.difference(['customer_id'])[0]
    
    df_combined = pd.merge(
        df1,
        df2,
        on='customer_id',
        how='outer')

    df_combined = df_combined.fillna(0)

    df_combined['difference'] = df_combined[column_df2] - df_combined[column_df1]

    df_results = df_combined[['customer_id', column_df1, column_df2, 'difference']]
    
    return df_results